  <!--heaer start -->
  <header>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <!-- nav container start -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Main Page</a>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Logout", logout_path, :method => "DELETE", :class => "navbar-brand" %>
            </li>
        </ul>
    </div>
      </div>
      <!-- nav container end -->
    </nav>
    <div class="main">
      <section class="module bg-dark-30 about-page-header" data-background="#{asset-path('about_bg.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h1 class="module-title font-alt mb-0">Main Page</h1>
            </div>
            
          </div>
        </div>
      </section>
  </header>
  <!--heaer end -->

  <!-- section start -->
  <section>
    <div class="row section_div">
      <article class="">
        <div id="logout">
          <% if session[:nickname] %>
            <span class="badge badge-success"><%= "#{session[:nickname]}さん、こんにちは" %></span>
          <% end %>
          
        </div>
      </article>
      <article class="">
        
      <div id="Report">
        <!--<form class="" action="index.html" method="post">-->
        
 <%#= form_tag result_show_path, :method => "GET" do %>
 <%= form_for @resultpr, url:result_show_path do |f| %>
        <div class="report hr-sect"> Report </div>
 <% flash.each do |message_type, message| %> <!-- dahun https://getbootstrap.com/docs/4.3/components/alerts/ -->
          <div class="alert alert-<%= message_type %>" role="alert">
            <%= message %>
          </div>
  <% end %>
        <div class="dateSpan left_line bottom_line">
        <!-- エラーメッセージnarukiyo start-->

        <!-- エラーメッセージnarukiyo end-->
          <span><%= f.label :date_span_from, "開始日", :class => "badge badge-dark" %></span>
          <!--<span>開始日</span>-->
          <span><%= f.date_field :date_span_from, :class => "dateField" %></span>
          <!--<input type="date" name="date">-->
          <span>　　</span>
          <span>～</span>
          <span>　　</span>
          <span><%= f.label :date_span_to, "終了日", :class => "badge badge-dark" %></span>
          <!--<span>終了日</span>-->
          <span><%= f.date_field :date_span_to, :class => "dateField" %></span>
          <!--<input type="date" name="date">-->
      
          <span><%= submit_tag "Result", :name => "ReportSubmit", :class => "btn btn-secondary" %></span>
<!--</form>-->
<% end %>
        </div>

      </div>
          <div class="main_article">
            <div class="timetable_head"> <h3>Time table</h3></div>
            <div id='calendar'>
  
            </div>
          </div>
      </article>
      <!-- section end-->
      <div class="col-xs-1"></div>
      <!-- section start-->
      <article class="">
        <div id= "calendar"></div>
         <%= render 'eventModal' %>
         <!-- _eventModal.html.erbを読み込む。　_eventModal.html.erbを確認してください！ -->
  
      <div class=""></div>


      </article>
    </div>

  </section>
  <!-- section end-->